/* Resetowanie domyślnych stylów przeglądarki */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Globalne style */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f9f0; /* Jasny odcień zieleni */
    color: #285e28; /* Ciemniejszy odcień zieleni */
    padding-bottom: 60px; /* Wysokość stopki */
    box-sizing: border-box;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Styl nagłówka */
header {
    background-color: #ddf9dd; /* Jasny odcień zieleni */
    padding: 20px;
    border-bottom: 1px solid #aaf5aa; /* Średni odcień zieleni */
}

header h1 {
    font-size: 2em;
    color: #285e28; /* Ciemniejszy odcień zieleni */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li:last-child {
    margin-right: 0;
}

/* Styl sekcji głównej */
main {
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
}

/* Styl stopki */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #285e28; /* Ciemniejszy odcień zieleni */
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

/* Media queries dla responsywności */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Style dla menu rozwijanego */
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddf9dd; /* Jasny odcień zieleni */
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #aaf5aa; /* Średni odcień zieleni */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #ddf9dd; /* Jasny odcień zieleni */
    color: #285e28; /* Ciemniejszy odcień zieleni */
    padding: 10px 16px;
    border: none;
    cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #285e28;
}

menu {
  float: left;
}

menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 6px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
menu a:hover {
  background-color: #111;
}

/* Dodatkowy styl dla formularza logowania */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* Zmiana wysokości kontenera */
}

.login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 22px); /* Szerokość przycisku minus padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #285e28;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1e441e;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 200px; /* Maksymalna szerokość logo */
    width: 100%; /* Aby logo skalowało się odpowiednio */
    height: auto; /* Aby zachować proporcje obrazu */
}

/* Styl nawigacji */
nav {
    background-color: #285e28; /* Ciemniejszy odcień zieleni */
    padding: 10px;
    border-bottom: 1px solid #aaf5aa; /* Średni odcień zieleni */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Biały kolor tekstu */
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #aaf5aa; /* Średni odcień zieleni */
    color: #285e28; /* Ciemniejszy odcień zieleni */
}
/* Styl sekcji głównej */
main {
    padding: 20px 0;
    text-align: center; /* Dodajemy styl wyśrodkowania tekstu */
}

main h2 {
    margin-bottom: 20px; /* Dodajemy odstęp od tekstu powitalnego */
}

/* Styl tabeli */
table {
    margin: 0 auto; /* Wyśrodkowanie tabeli */
    border-collapse: collapse; /* Usunięcie odstępów między komórkami */
    width: 80%; /* Dostosowanie szerokości tabeli */
}

/* Styl komórek nagłówka */
th {
    background-color: #285e28; /* Kolor tła */
    padding: 8px; /* Odstęp wewnętrzny */
	color: #fff;
}

/* Styl komórek danych */
td {
    border: 1px solid #ddd; /* Ramka wokół komórki */
    padding: 8px; /* Odstęp wewnętrzny */

}

/* Styl komórek danych dla pierwszej kolumny */
td:first-child {
    font-weight: bold; /* Pogrubienie tekstu */
}