/* Resetowanie domyślnych stylów przeglądarki */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Globalne style */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f9f0;
    color: #285e28;
    padding-bottom: 60px;
    box-sizing: border-box;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Styl nagłówka */
header {
    background-color: #ddf9dd;
    padding: 20px;
    border-bottom: 1px solid #aaf5aa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.8em;
    color: #285e28;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Styl sekcji głównej */
main {
    padding: 20px 0;
}

.categories {
    display: flex;
    justify-content: space-between;
}

.category {
    flex-basis: 30%;
    background-color: #fff;
     padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category h2 {
    margin-bottom: 10px;
    text-align: center;
}

/* Styl stopki */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #285e28;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

/* Media queries dla responsywności */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .categories {
        flex-wrap: wrap;
    }
    .category {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}
.button {
    background-color: #285e28;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #1e441e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
