<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>saldo dziecka</title>
    <link rel="icon" type="image/x-icon" href="../static/img/logo1.ico">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
			<li><a href="check-balance.html">Aktualne saldo dziecka</a></li>
			<li><a href="add-funds.html">Dodaj środki dla dziecka</a></li>
            <li><a href="check-purchases.html">Sprawdź zakupy swojego dziecka</a></li>
            <li><a href="parent.html">Wróć</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="login-container">
            <form class="login-form" action="#" method="post">
                <h2>Dodaj środki na konto Twojego dziecka</h2>
                <div class="form-group">
                    <label for="amount">Kwota:</label>
                    <input type="number" id="amount" name="amount" placeholder="Podaj kwotę" required>
                </div>
                <button type="submit">Dodaj środki</button>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Maciej Lech, Michał Włodarek, Patryk Jas</p>
    </footer>
</body>
</html>
