<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zakupy swojego dziecka</title>
    <link rel="icon" type="image/x-icon" href="../static/img/logo1.ico">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
			<li><a href="check-balance.html">Aktualne saldo dziecka</a></li>
			<li><a href="add-funds.html">Dodaj środki dla dziecka</a></li>
            <li><a href="check-purchases.html">Sprawdź zakupy swojego dziecka</a></li>
            <li><a href="parent.html">Wróć</a></li>
            </ul>
        </nav>
    </header>

    <main>
		<h2>Historia zakupów Twojego dziecka:</h2>
        <table>
            <tr>
                <th>Nazwa produktu</th>
                <th>Cena</th>
                <th>Data zakupu</th>
            </tr>
            <tr>
                <td>Książka "Harry Potter"</td>
                <td>20 PLN</td>
                <td>2024-03-01</td>
            </tr>
            <tr>
                <td>Długopis</td>
                <td>3 PLN</td>
                <td>2024-03-15</td>
            </tr>
            <tr>
                <td>Zeszyt</td>
                <td>5 PLN</td>
                <td>2024-03-20</td>
            </tr>
            <!-- Dodaj więcej wierszy według potrzeb -->
        </table>
    </main>

    <footer>
        <p>&copy; 2024 Maciej Lech, Michał Włodarek, Patryk Jas</p>
    </footer>
</body>
</html>
