<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SZKOLNY MARKET - Template</title>

    <link rel="icon" type="image/x-icon" href="../static/img/logo1.ico">

    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
    <header>
        <img src="../static/img/logo1.jfif" alt="Szkolny Market Logo" width="200" height="200">

        <ul>
            <menu><a href="#Account">Account</a></menu>
            <menu><a href="#Favourites">Favourites</a></menu>
            <menu><a href="#Products">Products</a></menu>
            <menu><a href="#Settings">Settings</a></menu>
        </ul>
    </header>

    <main>
        <!-- Zawartość -->

    </header>
    
    <main>
        <!-- Zawartość -->

    </main>
    
    <footer>
        <p>&copy; 2024 Maciej Lech, Michał Włodarek, Patryk Jas</p>
    </footer>
</body>
</html>
