<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SZKOLNY MARKET - Panel Rodzica</title>
    <link rel="icon" type="image/x-icon" href="../static/img/logo1.ico">
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
			<li><a href="check-balance.html">Aktualne saldo dziecka</a></li>
			<li><a href="add-funds.html">Dodaj środki dla dziecka</a></li>
            <li><a href="check-purchases.html">Sprawdź zakupy swojego dziecka</a></li>
            </ul>
        </nav>
    </header>

    <main s">
        <h2>Witaj w panelu rodzica</h2>
        <p>Tutaj możesz zarządzać kontem swojego dziecka, dodawać środki, sprawdzać zakupy oraz monitorować aktualne saldo.</p>
    </main>

    <footer>
        <p>&copy; 2024 Maciej Lech, Michał Włodarek, Patryk Jas</p>
    </footer>
</body>
</html>
