<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SZKOLNY MARKET - Template</title>
    <link rel="stylesheet" href="static/styles/styles.css">
    <script src="static/script.js" defer></script>
</head>
<body>
    <header>
        <img src="static/img/logo1.jfif" alt="Szkolny Market Logo" width="200" height="200">
    </header>
    
    <main>
        <!-- Zawartość -->

    </main>
    
    <footer>
        <p>&copy; 2024 Maciej Lech, Michał Włodarek, Patryk Jas</p>
    </footer>
</body>
</html>
