<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SZKOLNY MARKET - Template</title>
    <link rel="icon" type="image/x-icon" href="../static/img/logo1.ico">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <script src="../static/script.js" defer></script>
</head>
<body>
<header>
    <h1>SZKOLNY MARKET</h1>
    <nav>
        <ul>
            <li><button class="button">Historia</button></li>
            <li><button class="button">Moje Konto</button></li>
            <li><button class="button">Ulubione Produkty</button></li>
            <li><button class="button">Lista Produktów</button></li>
        </ul>
    </nav>
    <div id="stan-konta">Stan konta: $0</div>
</header>

<main class="container">
    <section class="categories">
        <div class="category" id="ulubione-produkty">
            <h2>Ulubione Produkty</h2>
        </div>
        <div class="category" id="lista-produktow">
            <h2>Lista Produktów</h2>
        </div>
        <div class="category" id="historia">
            <h2>Historia</h2>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2024 Maciej Lech, Michał Włodarek, Patryk Jas</p>
</footer>
</body>
</html>
